@font-face {
  font-family: Norse-Bold;
  src: url(.../fonts/Norse-Bold.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: Norse-Bold, sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.left {
  background-image: url(./images/volkan-vardar-1H30uRC1plc-unsplash.jpg);
  width: 35vw;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  width: 65vw;
}

.first {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 25vh;
  margin-left: 5%;
  margin-bottom: 5%;
}

.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  height: 33vh;
  box-shadow: 2px 5px #e5e7eb;
}

.form-main-div {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  width: 60%;
  justify-content: space-between;
}

.form-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input {
  width: 200px;
  border: 1px solid #e5e7eb;
  height: 25px;
  border-radius: 5px;
}

input:focus {
  border: 1px solid blue; /*if i change to 2, can't see the border color. FIX IT LATER*/
}

input:invalid {
  border: 1px solid red;
}

label {
  font-size: 16px;
  color: #2a2a2b;
}

#error {
  color: red;
  font-size: 12px;
  margin: 1px;
}

.btn-green {
  background-color: rgb(215 104 0);
  color: white;
  border: 1px solid rgb(215 104 0);
  border-radius: 10px;
  height: 40px;
  width: 175px;
  font-size: medium;
  font-weight: bolder;
  box-shadow: 2px 5px #e5e7eb;
}

.third {
  margin-left: 5%;
  margin-top: 3%;
}

.hyperlink {
  margin-left: 5%;
  margin-top: 20px;
}

a {
  color: rgb(215 104 0);
  text-decoration: none;
  font-weight: bolder;
}

.forImage {
  height: 40vh;
  display: flex;
  align-items: center;
}

.semi-transparent {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  font-family: Norse-Bold, sans-serif;
}

h1 {
  font-size: 35px;
  font-family: Norse-Bold;
}
