@font-face {
  font-family: Norse-Bold;
  src: url(.../fonts/Norse-Bold.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: Norse-Bold, sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.left {
  background-image: url(./images/volkan-vardar-1H30uRC1plc-unsplash.jpg);
  width: 35vw;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
  background-color: #061f2d;
  width: 65vw;
  color: white;
}

.first {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 25vh;
  margin-left: 5%;
  margin-bottom: 5%;
}

.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2f7770;
  height: 33vh;
  box-shadow: 2px 2px #e5e7eb;
  border-radius: 100px;
}

.form-main-div {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  width: 60%;
  justify-content: space-between;
}

.form-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input {
  width: 200px;
  border: 1px solid #e5e7eb;
  height: 25px;
  border-radius: 5px;
}

input:focus {
  border: 2px solid blue;
}

input:invalid {
  border: 1px solid red;
}

label {
  font-size: 18px;
  color: white;
  font-weight: bold;
}

#error {
  color: white;
  font-size: 13px;
  margin: 1px;
}

.btn-green {
  background-color: rgb(215 104 0);
  color: white;
  border: 1px solid rgb(215 104 0);
  border-radius: 10px;
  height: 40px;
  width: 175px;
  font-size: medium;
  font-weight: bolder;
  box-shadow: 1px 3px #979aa1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-green:hover {
  background-color: rgb(235 124 0);
  box-shadow: 2px 3px #7f827b;
  cursor: pointer;
  transform: scale(1.07);
}

.third {
  margin-left: 5%;
  margin-top: 3%;
}

.hyperlink {
  margin-left: 5%;
  margin-top: 20px;
}

a {
  color: rgb(215 104 0);
  text-decoration: none;
  font-weight: bolder;
}

.forImage {
  height: 40vh;
  display: flex;
  align-items: center;
}

.semi-transparent {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  font-family: Norse-Bold, sans-serif;
}

h1 {
  font-size: 35px;
  font-family: Norse-Bold;
}

h3 {
  font-size: 25px;
}
